<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929533398480-io655fh398emdm6m7p6psaashjanp6t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929533398480-io655fh398emdm6m7p6psaashjanp6t2</string>
	<key>API_KEY</key>
	<string>AIzaSyDLfQlEbQ-B-B3MagQlKkfCeKrSm9Xawk0</string>
	<key>GCM_SENDER_ID</key>
	<string>929533398480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-swiftui-67723</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-swiftui-67723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929533398480:ios:12c40d72e431a3639d7dd5</string>
</dict>
</plist>